In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
stock_by_date_data = pd.DataFrame( pd.read_csv("../data/stock_shanghai_all.csv"),columns=["date","close","volume"])

In [3]:
stock_by_date_data

           date      close       volume
0    2020-01-02  3085.1970  29247020800
1    2020-01-03  3083.7850  26149666816
2    2020-01-06  3083.4080  31257584128
3    2020-01-07  3104.8010  27658311168
4    2020-01-08  3066.8920  29787255296
..          ...        ...          ...
238  2020-12-25  3396.5626  29454689500
239  2020-12-28  3397.2854  31618154200
240  2020-12-29  3379.0362  31176918500
241  2020-12-30  3414.4527  29102354300
242  2020-12-31  3473.0693  33567392600

[243 rows x 3 columns]

In [ ]:
stock_by_section_data =  pd.DataFrame( pd.read_csv("../data/stock_shanghai_all.csv"),columns=["date","close","volume"])